.header-top {
    background-color: rgb(5, 49, 89);
    display: flex;
    justify-content: space-between;
}
.navbar-text-left{
  font-size:20px; 
  font-weight:bold;
}
    
    
       li, .links {
        margin-left: 1rem;
        border-radius:20px;
        padding: 5px 10px;
        background-color: rgba(5, 49, 89, 0.8);
        font-weight: bolder;
        
        }
      
  
       a {
        display: inline-block;
        color:#ffff;
        text-decoration: none;
        }

        a:hover {
          color: #ddd;
        }
        
        .title { 
          font-size: 130px;
          color: #053159;
          font-weight: bold;
        }
        
        .img-logo{
          height: 118px;
          width: 120px;
          margin: 1.5rem 1rem;
        }

        @media (max-width: 992px){
          .navbar_links{
            flex-direction: row;
          }
          .navbar-text-left{
            font-size: 18px;
          }
          .links-category{
            justify-items: center;
          }
        }

        @media (max-width: 768px){
          .navbar {
          max-width: 100%;
          }
          .navbar-text-left{
            font-size: 16px;
          }
          .navbar_links{
            font-size: 14px;
            font-weight:lighter;
          }
          .nav-resp{
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
          }
          .title { 
            font-size: 90px;
            margin-top: 0;
          }
          .img-logo{
            height: 110px;
            width: 114px;
            margin-top: 1rem;
            margin-bottom: 5px;
          }
          .links {
            font-size: 16px;
          }
          
        }

        @media (max-width: 658px){
          .navbar-text-left{
            display: none;
          }
          .navbar_links{
            align-items: center;
          }
          .links{
            font-size: 14px;
          }
          .title{
            font-size: 78px;
          }
        }
        @media (max-width: 425px){
          .navbar_links{
            font-size: 12px;
          }
          .title { 
            font-size: 58px;
            margin-top: 5px;
          }
          .img-logo{
            height: 68px;
            width: 72px;
            margin-top: 1rem;
          }
          .links {
            font-size: 10px;
          }
        }