.header-top {
    background-color: rgb(5, 49, 89);
    display: flex;
    justify-content: space-between;
}
    
    
       li, .links {
        margin-left: 1rem;
        border-radius:20px;
        padding: 5px 10px;
        background-color: rgba(5, 49, 89, 0.8);
        font-weight: bolder;
        
        }
      
  
       a {
        display: inline-block;
        color:#ffff;
        text-decoration: none;
        }

        a:hover {
          color: #ddd;
        }
        
        .title { 
          font-size: 130px;
          color: #053159;
          font-weight: bold;
        }
        
        .img-logo{
          height: 118px;
          width: 120px;
          margin: 1.5rem 1rem;
        }


        @media (max-width: 768px){
          .navbar {
          max-width: 100%;
          }
          .nav-resp{
            align-items: center;
          }
          .title { 
            font-size: 90px;
            margin-top: 5px;
          }
          .img-logo{
            height: 98px;
            width: 102px;
            margin-top: 1rem;
          }
          .links {
            font-size: 16px;
          }
        }

        @media (max-width: 425px){
          
          .nav-resp{
            flex-direction: column;
            align-items: center;
          }
          .title { 
            font-size: 58px;
            margin-top: 5px;
          }
          .img-logo{
            height: 68px;
            width: 72px;
            margin-top: 1rem;
          }
          .links {
            font-size: 10px;
          }
        }