.header-top {
    background-color: rgb(5, 49, 89);
    display: flex;
    justify-content: space-between;
}
    
    
       li, .links {
        margin-left: 1rem;
        border-radius:20px;
        padding: 5px 10px;
        background-color: rgba(5, 49, 89, 0.8);
        font-weight: bolder;
        }
      
  
       a {
        display: inline-block;
        color:#ffff;
        text-decoration: none;
        }

        a:hover {
          color: #ddd;
        }
        

        header {
          height: 250%;
          background-color: #ddd;    
          padding: 1rem;
        }
        
        .title { 
          font-size: 130px;
          color: #053159;
          font-weight: bold;
        }
        
        .img-logo{
          height: 118px;
          width: 120px;
          margin: 1.5rem 1rem;
        }